:root {
    --slate-900: #1f314f;
    --slate-500: #68778d;
    --slate-300: #d5e1ef;
    --white: #ffffff;
}

.text-preset-1 {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--slate-900);
}

.text-preset-2 {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: var(--slate-500);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--slate-300);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
    width: 320px;
    height: 499px;
    box-sizing: border-box;
    padding: 16px 16px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.qr-image {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

.qr-text {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.qr-text h1,
.qr-text p {
    margin: 0;
}